header{
    
    height: 90vh;
    width: 100vw;
    position: relative;
   
   
}
.landing-bg{
    
    height: 100%;
    width: 100%;
    z-index: -1;
}


.header-content1{
    width: 500px;
    height: 300px;
    
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: rgba(255, 255, 255);
}
.header-content1 h1{
    font-size: 3rem;
    font-weight: bolder;
    font-family: sans-serif;
}
.header-content1 span{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: rgba(255, 255,255,0.8);
}
.btn-box{
    margin-top: 2rem;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content1 button{
    border: none;
    width: 190px;
    height: 50px;
    border-radius: 40px;
}
.create-btn{
    
    background: linear-gradient(180deg, #5429E1 0%, #441EBF 100%);
    color: rgba(255, 255, 255);
}

.header-content2{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10%;
    right: 10%;
    color: rgba(255, 255,255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     border:none;
     border:1px dashed rgba(171, 151, 255, 1);
    padding: 2rem;
}
.header-content2 h2{
    font-size: 1.4rem;
}

.nft-detail{
    color: rgba(255, 255, 255,0.6);
    font-size: 1rem;

}
.number-index{
    color: rgba(255, 255, 255, 0.7);
    margin-left: 1rem;
}

    