.nft-card {
  width: 30%;
  max-width: 30rem;
  height: 35rem !important;
  padding: 1rem 2rem;
  background-color: #141416;
  border: 1px solid #353945;
  border-radius: 0.2rem;
  margin: 2rem 0;
  text-align: center;
  position: relative;
}
.profile-card{
  width: 40%;
}

.nft-card .nft-image-container {
  width: 100%;
  height: 60%;
  text-align: center;
}

.nft-card .nft-image-container .nft-image {
  width: 100%;
  height: 100%;
}

.nft-card .nft-details {
  margin-top: 1.2rem;
}

.nft-card .nft-details .nft-name {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.7);
}

.nft-card .nft-details .detail-1,
.nft-card .nft-details .detail-2,
.detail-3
 {
  display: flex !important;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center !important;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}



.detail-3 img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.detail-3{

  align-items: center !important;
}

.nft-card .nft-details .detail-2 {
  font-weight: 300;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}

.nft-card .nft-details .detail-2 span {
  font-size: 0.5rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
}

.nft-card .buy-btn {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.7rem 0;
  border-radius: 0.5rem;
  background-color: #4b23cc;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .nft-card {
    height: 30rem;
  }

  .nft-card .nft-details {
    margin-top: 0.8rem;
  }

  .nft-card .nft-details .detail-1,
  .nft-card .nft-details .detail-2 {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .nft-card .nft-details .detail-1 h4 {
    font-size: 1.2rem;
  }
  .nft-card .nft-details .detail-2 {
    font-weight: 300;
    font-size: 1rem;
  }

  .nft-card .nft-details .nft-name {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .nft-card .nft-details .detail-2 span {
    font-size: 0.8rem;
    font-weight: 200;
    color: #bec2ca;
  }
}

@media only screen and (max-width: 768px) {
  .nft-card {
    width: 45%;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .nft-card {
    padding: 1rem 1rem;
    width: 100%;
    margin: 1rem 0;
  }
  
}
