.nft-card {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #141416;
  border: 1px solid #353945;
  border-radius: 0.2rem;
  margin: 2rem 0;
}

.nft-card .nft-image-container {
  width: 100%;
}

.nft-card .nft-image-container .nft-image {
  width: 100%;
  height: 100%;
}

.nft-card .nft-details {
  margin-top: 1.2rem;
}

.nft-card .nft-details .nft-name {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color:rgba(255, 255, 255, 0.7);
}

.nft-card .nft-details .detail-1,
.nft-card .nft-details .detail-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  color:rgba(255, 255, 255, 0.5);
}

.nft-card .nft-details .detail-2 {
  font-weight: 300;
  font-size: 0.7rem;
  color:rgba(255, 255, 255, 0.5);
}

.nft-card .nft-details .detail-2 span {
  font-size: 0.5rem;
  font-weight: 200;
  color:rgba(255, 255, 255, 0.5);
}

.nft-card .buy-btn {
  display: block;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: #4b23cc;
  color: #fff;
}


@media only screen and (min-width: 768px) {
  .nft-card {
    width: 48%;
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .nft-card {
    width: 31%;
    margin: 2rem 0;
  }
  .nft-card .nft-details .detail-2 {
    font-weight: 300;
    font-size: 1rem;
  }

  .nft-card .nft-details .detail-2 span {
    font-size: 0.8rem;
    font-weight: 200;
    color: #bec2ca;
  }
}
