.nft-container {
  border: 0.6rem solid #47464b;
  border-radius: 1rem;
  position: relative;
  width: 18rem;
  margin-bottom: 1rem;
}

.nft-picture-container-card {
  width: 100%;
  height: 60%;
}

.nft-image {
  width: 100%;
  height: 100%;
}

.nft-descriptn {
  position: relative;
  padding: 1rem 0;
  color: #fff9df;
}

.nft-name {
  font-family: Beleren2016 Small Caps;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.details-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.decsriptive-text {
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.6rem;
  padding: 0 2.5rem;
  margin-bottom: 1rem;
}

.left-text,
.right-text {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.7rem;
  font-weight: 100;
  text-align: center;
}

.left-text {
  left: 0.5rem;
}

.right-text {
  right: 0.5rem;
  letter-spacing: 0.5rem;
}

.nft-price {
  font-size: 1.8rem;
  text-align: center;
  color: #878787;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: bold;
  margin-top: 1rem !important;
}

@media only screen and (max-width: 1250px) {
  .nft-container {
    width: 18rem;
  }

  .nft-descriptn {
    padding: 0.5rem 0;
  }

  .nft-name {
    line-height: 1.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }

  .decsriptive-text {
    margin-bottom: 0.8rem;
  }

  .left-text,
  .right-text {
    font-size: 0.5rem;
  }

  .nft-price {
    font-size: 1.2rem;
    bottom: 0rem;
  }
}

@media only screen and (max-width: 1024px) {
  .nft-container {
    width: 15rem;
  }

  .nft-descriptn {
    padding: 0.2rem 0;
  }

  .nft-name {
    line-height: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }

  .decsriptive-text {
    margin-bottom: 0.6rem;
  }

  .left-text,
  .right-text {
    font-size: 0.5rem;
  }

  .nft-price {
    font-size: 1rem;
    bottom: 0rem;
  }
}

@media only screen and (max-width: 768px) {
  .nft-container {
    width: 20rem;
  }

  .nft-descriptn {
    padding: 0.5rem 0;
  }

  .nft-name {
    line-height: 1.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }

  .decsriptive-text {
    font-size: 0.7rem;
    margin-bottom: 2rem;
  }

  .left-text,
  .right-text {
    font-size: 0.4rem;
  }

  .nft-price {
    font-size: 1.2rem;
    bottom: 0rem;
    margin-top: 1rem;
  }
}