.options {
  background: rgba(14, 14, 18, 1);
}
.back-icon {
  height: 60px;
  width: 40px;
  cursor: pointer;
  transform: rotate(180deg);
  position: absolute;
  left: 10%;
  top: 10%;
}

.options .option-header {
  color: rgba(255, 255, 255);
  padding-top: 3rem;
}
.options .option-header h1 {
  font-size: 1.7rem;
}
.options .option-header span {
  color: rgba(255, 255, 255, 0.7);
  font-weight: lighter;
  font-size: 1rem;
}

.options-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
.options-main .option {
  width: 60%;
  border: thin solid rgba(255, 255, 255, 0.1);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.options-main .option .option-icon-container {
  height: 80px;
  width: 80px;
  background: #16161e33;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.options-main .option .option-icon-container img {
  width: 70%;
}

.options-main .inner-text {
  margin-right: auto;
}

.options-main .inner-text h2 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255);
}

.options-main .inner-text span {
  font-size: 1rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
}

.button {
  background: rgba(28, 28, 30, 1);
  padding: 0.8rem 4rem;
  color: rgba(255, 255, 255);
  border: none;
  border-radius: 50px;
}
.button:hover {
  background: rgba(75, 35, 204, 1);
}

.option:hover {
  border: thin solid #0ead6f;
}

.option-header .header-content {
  width: 60vw;
  justify-content: start;
}

.option-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-open img {
  margin-left: 1rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  .options-main .option {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 90%;
    padding: 2rem;
  }
  .options-main .option .button {
    margin-top: 2rem;
    padding: 1.5rem 6rem;
  }

  .option-header .header-content {
    width: 100%;
    padding: 3rem 0 0 2rem;
  }
}
