.App .profile-main-body {
  width: 100%;
  background: #0e0e12;
}
html {
  min-height: 100%;
}
.profile-main-body .cover-photo-container {
  width: 100%;
  height: 290px;
  position: relative;
  
  
}
.profile-main-body .cover-photo-container .cover-photo-image {
  position: absolute !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  
  
  
  
  
}

.cover-photo-edit{
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: white;
  border: thin solid rgba(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  
}
.cover-photo-edit img{
  margin-left: 1rem;
}
.section-title {
  color: #fff;
}
.profile-main-body .content-section {
  width: 100%;
  padding: 0 1rem;
  position: relative;
}



.socials{
  position: absolute;
  background-color: rgba(0,0,0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255);
  justify-content: center;
  align-items: center;
  display: none;
}
.socials p{
  font-size: 2rem;
  cursor: pointer;
  transform: rotate(45deg);
  color: white;
  position: absolute;
  top: 30%;
  right: 30%;
}
.socials-on{
  display: flex;
}
.socials .share-icons{
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.copy-icon{
  height: 20px;
  width: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.profile-main-body .content-section .user-profile-card {
  background: #16161e;
  padding: 2rem;
  position: relative;
  top: -6rem;
  width: 18rem;
  margin: 0 auto;
}
.css-1qtlriq-SkeletonTheme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.user-profile-card .user-details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff !important;
}

.user-profile-card .user-details-section .profile-picture-container {
  width: 7rem;
  height: 7rem;
  position: relative !important;

}



.user-profile-card
  .user-details-section
  .profile-picture-container
  .profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
 
}

.user-about-section span{
  text-align: center !important;
  
}
.pen-icon-container{
  background-color: rgba(255, 255, 255) !important;
  position: absolute !important;
  top: 60% !important;
  right: 1% !important;
  border-radius: 50% !important;
  padding: 0.2rem;
  /*display: none; */
}
.profile-text-edit{
  position: absolute;
  right: 10%;
  top: 40%;
  cursor: pointer;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  padding: 0.2rem;
}
.edit-profile-form{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.5);
  z-index: 9999;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.edit-profile-form form{
  display: flex;
  flex-direction: column;
  
}
.edit-profile-form textarea{
  max-height: 100px;
  margin-top: 2rem;
}

#avatar-input{
  height: 100%;
  width: 100%;
  z-index: 999 !important;
}

.pen-icon-container label{
  cursor: pointer !important;
  position: absolute;
  height: 100%;
  width: 100%;
}

.user-details-section .user-details h2,
.user-details-section .user-details p {
  text-align: center;
  margin-top: 1rem;
}

.user-details article{
  text-align: center;
}
.user-details-section .user-details h2 {
  font-size: 1.8rem;
}

.user-details-section .user-details .verified-icon {
  position: relative;
  top: 5px;
}

.user-details-section .user-details p {
  margin-top: 0.5rem;
  color: #b5b5b5;
}

.user-details-section .user-about-section {
  margin-top: 1.5rem;
  color: #a6a6a6;
  font-size: 0.8rem;
}

.user-details-section .user-history {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.user-details-section .user-history .history-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-history .history-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.user-history .history-item p {
  font-size: 0.7rem;
}

.follow-button {
  display: block;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  padding: 1rem 0;
  border-radius: 2rem;
  background-color: #4b23cc;
  color: #fff;
}

.nfts-section {
  width: 100%;
  padding: 1rem;
  border: 1px solid #16161e;
  margin-top: 2rem;
}

.nfts-section .section-title {
  display: none;
}

.nft-nav {
  width: 100%;
  margin-bottom: 2rem;
}

.nft-nav ul {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  margin-block-start: 0;
  padding: 0;
}

.nft-nav ul::-webkit-scrollbar {
  display: none;
}

.nft-nav ul li {
  list-style: none;
}

.nft-nav ul li button {
  background: none;
  color: #b5b5b5;
  border-radius: 1rem;
  padding: 0.5rem 1.2rem;
  white-space: nowrap;
}

.nft-nav ul li .active-nft-nav {
  background: #fff;
  color: #000;
}
.nfts-section .nfts-container {
  width: 100%;
  display: block;
  min-height: 20rem;
  max-height: 35rem;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.nfts-section .nfts-container::-webkit-scrollbar {
  display: none;
}
/*.modal-dialog{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}
.share-icons{
  display: flex;
  justify-content: space-between;
  width: 300px;
} */


@media only screen and (min-width: 950px) {
  .profile-main-body .content-section {
    display: flex;
    align-items: flex-start;
  }
  .profile-main-body .content-section .user-profile-card {
    width: 30%;
    min-width: 16rem;
  }
  .user-profile-card .user-details-section .profile-picture-container {
    width: 5rem;
    height: 5rem;
  }
  .user-details-section .user-details h2 {
    font-size: 1.4rem;
  }

  .user-details-section .user-details p {
    font-size: 0.8rem;
  }

  .user-history .history-item h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .user-history .history-item p {
    font-size: 0.6rem;
  }

  .follow-button {
    margin-bottom: 2rem;
  }

  .nfts-section {
    width: 70%;
  }
  .nfts-section .section-title {
    display: block;
    margin: 3rem 0;
  }
  .nft-nav ul {
    justify-content: flex-start;
  }
  .nft-nav ul li {
    margin: 0 1rem;
  }

  .nft-nav ul li:first-of-type {
    margin-left: 0;
  }
  .nfts-section .nfts-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
  }
  
}

@media only screen and (min-width: 992px) {
  .profile-main-body .content-section {
    padding: 0 8%;
  }
  .profile-main-body .content-section .user-profile-card {
    top: -6rem;
    width: 32%;
    margin-right: 3rem;
  }

  .nfts-section {
    width: 100%;
  }
  .user-details-section .user-details p {
    font-size: 0.9rem;
  }
  .user-details-section .user-about-section {
    font-size: 0.82rem;
    line-height: 1.5;
  }
  
}

@media only screen and (max-width: 500px) {
 
  .cover-photo-edit{
    margin-bottom: 2rem;
  }
  
}


