.App .profile-main-body {
  width: 100%;
}

.profile-main-body .cover-photo-container {
  width: 100%;
  height: 290px;
}
.profile-main-body .cover-photo-container .cover-photo-image {
  width: 100%;
  height: 100%;
}

.profile-main-body .content-section {
  width: 100%;
  padding: 0 1rem;
  position: relative;
}

.profile-main-body .content-section .user-profile-card {
  background-color: #16161e;
  padding: 2rem;
  position: relative;
  top: -4rem;
}

.user-profile-card .user-details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-card .user-details-section .profile-picture-container {
  width: 7rem;
  height: 7rem;
}

.user-profile-card
  .user-details-section
  .profile-picture-container
  .profile-picture {
  width: 100%;
  height: 100%;
}

.user-details-section .user-details h2,
.user-details-section .user-details p {
  text-align: center;
  margin-top: 1rem;
}

.user-details-section .user-details h2 {
  font-size: 1.8rem;
}

.user-details-section .user-details .verified-icon {
  position: relative;
  top: 5px;
}

.user-details-section .user-details p {
  margin-top: 0.5rem;
  color: #b5b5b5;
}

.user-details-section .user-about-section {
  margin-top: 1.5rem;
  color: #a6a6a6;
  font-size: 0.8rem;
}

.user-details-section .user-history {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.user-details-section .user-history .history-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-history .history-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.user-history .history-item p {
  font-size: 0.7rem;
}

.follow-button {
  display: block;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  padding: 1rem 0;
  border-radius: 2rem;
  background-color: #4b23cc;
  color: #fff;
}

.nfts-section {
  width: 100%;
  padding: 1rem;
}

.nfts-section .section-title {
  display: none;
}

.nft-nav {
  width: 100%;
  margin-bottom: 2rem;
}

.nft-nav ul {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.nft-nav ul::-webkit-scrollbar {
  display: none;
}

.nft-nav ul li {
  list-style: none;
}

.nft-nav ul li button {
  background: none;
  color: #b5b5b5;
  border-radius: 1rem;
  padding: 0.5rem 1.2rem;
  white-space: nowrap;
}

.nft-nav ul li .active-nft-nav {
  background: #fff;
  color: #000;
}
.nfts-section .nfts-container {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .profile-main-body .content-section {
    display: flex;
    align-items: flex-start;
  }
  .profile-main-body .content-section .user-profile-card {
    width: 35%;
  }
  .user-profile-card .user-details-section .profile-picture-container {
    width: 5rem;
    height: 5rem;
  }
  .user-details-section .user-details h2 {
    font-size: 1.4rem;
  }

  .user-details-section .user-details p {
    font-size: 0.8rem;
  }

  .user-history .history-item h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .user-history .history-item p {
    font-size: 0.6rem;
  }

  .follow-button {
    margin-bottom: 2rem;
  }

  .nfts-section {
    width: 65%;
  }
  .nfts-section .section-title {
    display: block;
    margin: 3rem 0;
  }
  .nft-nav ul {
    justify-content: flex-start;
  }
  .nft-nav ul li {
    margin: 0 1rem;
  }
  .nfts-section .nfts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 992px) {
  .profile-main-body .content-section {
    padding: 0 8%;
  }
  .profile-main-body .content-section .user-profile-card {
    top: -6rem;
    width: 28%;
    margin-right: 3rem;
  }

  .nfts-section {
    width: 100%;
  }
  .user-details-section .user-details p {
    font-size: 0.9rem;
  }
  .user-details-section .user-about-section {
    font-size: 0.82rem;
    line-height: 1.5;
  }
}
